<mat-toolbar color="primary" class="toolbar-sticky">
    <span>Read a book</span>
    <span class="toolbar-spacer"></span>
    <button class="new-book-button" mat-raised-button color="accent" (click)="bookInput.click()">NEW BOOK</button>
    <input class="file-input" type="file" #bookInput (change)="onBookUpload($event)" accept="text/plain" />
</mat-toolbar>
<div class="content">
    <div class="scrollable" id="main-scrollable-container">
        <router-outlet (activate)="onViewActivate()"></router-outlet>
    </div>
</div>
