<mat-card *ngIf="book" [ngClass]="{'card-book': true, 'selected': selected}">
    <mat-card-header class="header">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        <mat-card-title>
            <span class="title">{{book.title}}</span>&nbsp;
            <span class="mat-caption">({{book.dateAdded |date:'mediumDate'}})</span>
        </mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>{{book.fractionLearned |percent}} words learned</div>
        <div>
            <mat-progress-bar [value]="book.fractionLearned*100"></mat-progress-bar>
        </div>
    </mat-card-content>
    <mat-card-actions class="action">
        <button mat-flat-button color="accent">READ</button>
        <button mat-flat-button color="primary">WORD STATS</button>
        <button mat-flat-button color="primary">LEARN</button>
        <button mat-flat-button color="primary">REVIEW</button>
    </mat-card-actions>
</mat-card>
